<div id="logreg-forms">
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal text-center"> Login</h1>
		<input type="text" id="inputUsername" class="form-control" placeholder="Username">
		<input type="password" id="inputPassword" class="form-control" placeholder="Password">

		<button routerLink="/transaction" class="btn btn-success btn-block" type="submit">
			<i class="fas fa-sign-in-alt"></i> Login
		</button>
	</form>
</div>
<p class="text-center">
	<a href="#">By Zikri Ramdani</a>
</p>