<div id="logreg-forms">
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal text-center"> Login</h1>
		<input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

		<button routerLink="/transaction" class="btn btn-success btn-block" type="submit">
			<i class="fas fa-sign-in-alt"></i> Login
		</button>
		<hr>
		<button routerLink="/register" class="btn btn-primary btn-block" type="button">
			<i class="fas fa-user-plus"></i> Register
		</button>
	</form>
</div>
<p class="text-center">
	By Zikri Ramdani
</p>