<div id="logreg-forms">
	<p class="mb-0 pt-3 px-3 text-right">
		Hi {{currentUser.firstName}}! <b class="cursor-pointer" (click)="logout()">(logout)</b>
	</p>
	<div class="row">
		<div class="col-12">
			<form class="form-transaction" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
				<h1 class="h3 mb-3 font-weight-normal text-center"> Transaction</h1>

				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Phone Number
					</div>
					<div class="col-md-8 col-12 mb-3">
						<input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"
							required [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
						<div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
							<div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Operator
					</div>
					<div class="col-md-8 col-12 mb-3">
						<select class="custom-select" formControlName="operator" required value=""
							[ngClass]="{ 'is-invalid': submitted && f.operator.errors }">
							<option value="">Choose Operator...</option>
							<option *ngFor="let operator of operators" [value]="operator.name">
								{{operator.name}}
							</option>
						</select>
						<div *ngIf="submitted && f.operator.errors" class="invalid-feedback">
							<div *ngIf="f.operator.errors.required">Operator is required</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Pulsa
					</div>
					<div class="col-md-8 col-12 mb-3">
						<select class="custom-select" formControlName="pulsa" required value=""
							[ngClass]="{ 'is-invalid': submitted && f.pulsa.errors }"
							(change)="onChange($event)" [ngModel]="selectedPulsa">
							<option value="">Choose Pulsa...</option>
							<option *ngFor="let pulsa of pulsas" [value]="pulsa.pulsa">
								{{pulsa.pulsa}}
							</option>
						</select>
						<div *ngIf="submitted && f.pulsa.errors" class="invalid-feedback">
							<div *ngIf="f.pulsa.errors.required">Pulsa is required</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Harga
					</div>
					<div class="col-md-8 col-12 mb-3">
						<input formControlName="harga" class="form-control" disabled [ngModel]="hargaModel">
					</div>
				</div>

				<button routerLink="/transaction" class="btn btn-success btn-block" type="submit">
					<i class="fas fa-sign-in-alt"></i> Save Transaction
				</button>
			</form>
		</div>
		<hr>
		<div class="col-12">
			<div class="p-3">
				<h1 class="h3 mb-3 font-weight-normal text-center">Data Transaction</h1>

				<div class="table-responsive">
					<table class="table">
						<thead>
							<th>Phone Number</th>
							<th>Operator</th>
							<th>Pulsa</th>
							<th>Harga</th>
							<th>Action</th>
						</thead>

						<tbody>
							<tr *ngFor="let transaction of transactions">
								<td>{{transaction.phoneNumber}}</td>
								<td>{{transaction.operator}}</td>
								<td>{{transaction.pulsa}}</td>
								<td>{{transaction.harga}}</td>
								<td><a class="text-danger cursor-pointer" (click)="deleteTransaction(transaction.id)">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>