<div id="logreg-forms">
	<form class="form-transaction" []>
		<h1 class="h3 mb-3 font-weight-normal text-center"> Transaction</h1>
		<div class="row">
			<div class="align-self-center col-md-4 col-12 d-flex mb-3">
				Phone Number
			</div>
			<div class="col-md-8 col-12 mb-3">
				<input type="text" id="inputPhone" class="form-control" placeholder="Phone Number">
			</div>
		</div>
		<div class="row">
			<div class="align-self-center col-md-4 col-12 d-flex mb-3">
				Operator
			</div>
			<div class="col-md-8 col-12 mb-3">
				<select class="custom-select" id="inputGroupSelect01">
					<option selected>Choose Operator...</option>
					<option value="1">Telkomsel</option>
					<option value="2">XL</option>
					<option value="3">Three</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="align-self-center col-md-4 col-12 d-flex mb-3">
				Pulsa
			</div>
			<div class="col-md-8 col-12 mb-3">
				<select class="custom-select" id="inputGroupSelect01">
					<option selected>Choose Pulsa...</option>
					<option value="10.000">10.000</option>
					<option value="25.000">25.000</option>
					<option value="50.000">50.000</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="align-self-center col-md-4 col-12 d-flex mb-3">
				Harga
			</div>
			<div class="col-md-8 col-12 mb-3">
				<input type="password" id="inputHarga" class="form-control" placeholder="Harga" disabled>
			</div>
		</div>

		<button routerLink="/transaction" class="btn btn-success btn-block" type="submit">
			<i class="fas fa-sign-in-alt"></i> Save Transaction
		</button>
	</form>
</div>
<p class="text-center">
	By Zikri Ramdani <a (click)="logout()">(logout)</a>
</p>