<div ng-controller="DashboardController">
	<div class="jumbotron mt-3" style="background-color: #fff; height: calc(95vh);">
		<div class="btn-group my-3" role="group" aria-label="Basic example">
		  	<button type="button" class="btn btn-secondary" ng-click="tambahBarang()">Tambah</button>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
			  	<thead>
				    <tr>
				      	<th scope="col">Title</th>
				      	<th scope="col">Body</th>
				    </tr>
			  	</thead>
				<tbody>
					<tr *ngIf="isLoading; else getData">
						<td colspan="2" class="text-center">Loading...</td>
					</tr>

					<ng-template #getData>
						<tr *ngFor="let DD of dataDummy;let i = index;">
							<td>{{DD.title}}</td>
							<td>{{DD.body}}</td>
						</tr>
					</ng-template>
					
					<tr *ngIf="dataDummy == 0">
						<td colspan="2" class="text-center">No data</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 ng-hide="enable" class="modal-title">Tambah Barang</h4>
	                <h4 ng-show="enable" class="modal-title">Edit Barang</h4>
	            </div>
	            <div class="modal-body">
	                <form>
	                    <div ng-show="enable" class="form-group">
	                        <label>ID Barang</label>
	                        <input type="text" class="form-control" ng-model="inputDataBarang.idBarang" disabled/>
	                    </div>
	                    <div class="form-group">
	                        <label>Nama Barang</label>
	                        <input type="text" class="form-control" placeholder="Masukkan Nama Barang" ng-model="inputDataBarang.namaBarang"/>
	                    </div>
	                    <div class="form-group">
	                        <label>Jenis Barang</label>
	                        <select class="form-control" ng-model="inputDataBarang.jenisBarang">
	                            <option value="" disabled>Pilih Jenis Barang</option>
	                            <option value="gas">Gas</option>
	                            <option value="padat">Padat</option>
	                            <option value="cair">Cair</option>
	                        </select>
	                    </div>
	                    <div class="form-group">
	                        <label>Tanggal Kadaluarsa</label>
	                        <input type="date" class="form-control" placeholder="Masukkan Tanggal Kadaluarsa" ng-model="inputDataBarang.tanggalKadaluarsa"/>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
	                <button ng-hide="enable" type="button" class="btn btn-success" data-dismiss="modal" ng-click="simpanBarang(inputDataBarang)">Simpan</button>
	                <button ng-show="enable" type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateBarang(inputDataBarang)">Update</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>
