<div id="logreg-forms">
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal text-center"> Register</h1>
		<input type="text" id="inputUsername" class="form-control mb-3" placeholder="Firstname" required>
		<input type="text" id="inputPassword" class="form-control mb-3" placeholder="Lastname" required>
		<input type="text" id="inputUsername" class="form-control mb-3" placeholder="Username" required>
		<input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>

		<div class="row">
			<div class="col-6">
				<button routerLink="/login" class="btn btn-success btn-block" type="submit">
					<i class="fas fa-sign-in-alt"></i> Cancel
				</button>
			</div>
			<div class="col-6">
				<button routerLink="/register" class="btn btn-primary btn-block" type="submit">
					<i class="fas fa-user-plus"></i> Register
				</button>
			</div>
		</div>
	</form>
</div>
<p class="text-center">
	By Zikri Ramdani
</p>